{template 'top', 'info'}
<link href="{AJ_SKIN}zxother.css" rel="stylesheet" type="text/css">
<div class="aWz">您所在的位置：<a href="{$MODULE[1][linkurl]}">首页</a>&nbsp;&gt;&nbsp;<a href="{$MOD[linkurl]}">{$MOD[name]}</a>&nbsp;&gt;&nbsp;{cat_pos($CAT, ' &raquo; ')}</div>
<div class="bde">
<div class="wl"><table border="0" cellpadding="0" cellspacing="0" class="zbxx">
  <tbody><tr>
    <td colspan="3"><h1>{$title}</td>
    </tr>
  <tr class="bjc">
    <td>所在区域：{area_pos($areaid, ' ')}</td>
    <td>信息类型：{cat_pos($CAT, ' &raquo; ')}</td>
    <td>发布时间：{$editdate}</td>
  </tr>
  <tr class="bjc zyq">
    <td colspan="3">{$content}</td>
    </tr>
  <tr class="bjc nob lxfs">
    <td colspan="3"><em>联系方式：</em><DIV style="text-decoration:none; "  id="contact">{template 'contacthm', 'chip'}</DIV>

    </td>
    </tr>
</tbody></table>
  <div class="morcod">
      <div class="l"><a href="{$MODULE[4][linkurl]}">更多公司</a></div>
      <div class="r">
        <div class="mrl" id="scorll_left"></div>
<div class="mrr" id="scorll_right"></div>
        <div class="mrC" id="imageContainer" style="overflow:hidden;">
          <ul id="list" style="margin-left: 0px; ">
		  <!--{php $tags=tag("table=member&condition=groupid=9&areaid=$cityid&order=userid desc&pagesize=4&template=null");}-->
 {loop $tags $i $t}
  <li>
              <div class="i"><a href="{userurl($t[username], '')}" target="_blank"><img src="{imgurl($t[thumb])}"></a></div>
              <div class="t"><a href="{userurl($t[username], '')}" target="_blank">广告位招商{$AJ[telephone]}</a></div>
            </li> {/loop}

 </ul>
        </div>
      </div>
    </div>
</div>
<div class="wr">
    <div class="frrOM">
      <div class="t"><a href="{$MODULE[2][linkurl]}my.php?mid=13&action=add"></a></div>
      <div class="c">
        <ul>
          <li style="height:auto;">
            <input class="fbtn" name="" type="submit" value="免费发布" onClick="location.href='{$MODULE[2][linkurl]}my.php?mid=13&action=add'">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{template 'foot', 'info'}