
.gray9,.gray9 a{ color:#999;}
.morecity .citymore2{ clear:both; height:0px; overflow:hidden; border:none;}
.citymore2{ clear:both; width:645px; z-index:999999;position:absolute; background:white; line-height:24px; top:68px; overflow:hidden;}
.login-menu{ float:right; margin-top:38px; display:inline;}
.login-menu h1{ float:left; padding-right:5px; display:inline;}
.login-menu ul{ float:left;}
.login-menu ul li{ float:left;}
.login-menu ul li span{padding:0 6px;}

.need-login{ width:960px; height:400px; float:left; background:url(../image/member/login-bg.gif) no-repeat; overflow:hidden;}
.login-box{ width:325px; float:right; margin:14px 20px 0 0; display:inline; overflow:hidden;}
.login-inner{ width:323px; float:left; border:1px solid #fff; background:#fafafa; overflow:hidden;}
.login-inner h1{ width:303px; height:36px; line-height:36px; padding-left:16px; background:url(../image/member/tbg.gif) repeat-x 0 -711px; margin:2px 0 14px 2px;}
.login-inner p{ float:left;}
.login-cue{ width:297px; height:25px; line-height:25px; background:#fff2f2; border:1px solid #ff7751; margin:0 0 18px 12px; display:inline;}
.cue-icon{ width:16px; height:16px; background:url(../image/member/icon.gif) no-repeat 0 -250px; margin:4px 5px 0 8px; display:inline;}
.login-input{ width:323px; float:left; height:26px; margin-bottom:12px; overflow:hidden; display:inline;}
.login-input span{ float:left; line-height:26px; width:54px; text-align:right; padding-right:14px; display:inline;}
.login17426{ width:169px; height:24px; line-height:24px; padding-left:3px; border:1px solid #c7c7c7; float:left; display:inline; background:url(../image/member/bigbtn.gif) no-repeat 0 -1142px;}
.login-auto{ width:253px; padding-left:70px; margin:6px 0 20px 0; display:inline;}
.login-auto em{ color:#999; padding-left:10px;}
.login-checkbox{ width:13px; height:13px; float:left;}
.login-btn{ width:253px; padding-left:70px; margin-bottom:22px; display:inline;}
.login-btn span{ padding:10px 3px 0 3px; float:left; display:inline;}
.login-btn a{ white-space:nowrap;}
.login-submit{ width:82px; height:32px; line-height:32px; float:left; background:url(../image/member/bigbtn.gif) no-repeat 0 -1171px; border:0; cursor:pointer; margin-right:12px; display:inline;}
.login-line-gray{ width:299px; margin:0 12px; height:1px; border-bottom:1px solid #e1e1e1; display:inline; overflow:hidden;}
.login-line-white{ width:299px; margin:0 12px 14px 12px; height:1px; border-top:1px solid #fff; display:inline; overflow:hidden;}
.company-telephone{ width:285px; padding:0 0 38px 38px; display:inline; overflow:hidden;}
.gray-line{ width:960px; height:1px; border-top:1px solid #ddd; float:left; overflow:hidden;}






