{template 'header', $TP}
<div class="nav">
<a href="index.php">Ê×Ò³</a> >
<a href="index.php?moduleid={$moduleid}">{$MOD[name]}</a> >
<a href="index.php?moduleid={$moduleid}&amp;action=login">µÇÂ¼</a> >
</div>
<div class="main">
<div class="fm">
<form action="index.php" method="post">
<input type="hidden" name="moduleid" value="{$moduleid}"/>
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="forward" value="{$forward}"/>
»§Ãû:<input type="text" name="username" size="15" class="fm_inp"/><br/>
ÃÜÂë:<input type="password" name="password" size="15" class="fm_inp"/><br/>
<input type="submit" name="submit" value="µÇÂ¼" class="fm_sbm"/>
</form>
</div>
{template 'footer', $TP}