{template 'header'}
<div class="m">	

 <!--q新房广告 新房详情页-导航下通栏1-->
 <form name="detailForm" id="detailForm" action="{$MODULE[2][linkurl]}favorite.php" method="post">	
<input type="hidden" name="action" value="add"/>
<input type="hidden" name="title" value="{$title}"/>
<input type="hidden" name="url" value="{$linkurl}"/>
</form>
    <div class="bread">
	<div class="fr">
		访问：<strong>{$hits}</strong>人次 | <a href="javascript:document.getElementById('detailForm').submit();">收藏</a>
		<span>{$editdate}更新</span>
	 </div>
	您当前的位置：<a href="{$MODULE[1][linkurl]}" title="{$AJ[sitename]}">{$AJ[sitename]}</a> &gt; <a href="{$MOD[linkurl]}">{$MOD[name]}    </a> &gt; <a href="{$MOD[linkurl]}list.php?areaid={$areaid}">{area_poss($areaid, ' ')}</a> &gt;  {$title} 
	</div>
<div class="name cf">
	<div class="qr fr">{twoCode($EXT[wap_url],$moduleid,$itemid)}</div>
	<div class="fl">
		<div class="name_top">
		<h2><a href="{$linkurl}" title="{$title}">{$title}</a></h2>
				<div class="name_icon name_icon1">{$TYPE[$typeid]}</div>		</div>
		
	</div>
</div>
<div class="navcon">
<div class="navbox">
	<ul>
		{php $menu = array('xinxi'=>'详细', 'jiage'=>'房价', 'xiangce'=>'相册','huxing'=>'户型', 'zixun'=>'导购', 'peitao'=>'地图交通',  'dianping'=>'点评', 'wenfang'=>'问房');}
<li><a href="{$linkurl}"  >主页</a></li>{loop $menu $k $v} 
<li><a href="{$MODULE[6][linkurl]}{$k}.php?itemid={$itemid}" {if zixun==$k}class='on'{else}{/if} >{$v}</a></li>
{/loop}
       {if $bbsurl}<li><a href="{$bbsurl}">论坛</a></li>{/if}
		<li><a href="{$linkurl}#iwantgroupbuy">团购报名</a></li>
        	    	</ul>
</div>	
</div>		<div class="cf">
			<div class="w670 fl mt10 modA">
				<div class="dg">
					<h4>
						<sub class="l"></sub>
						<a href="http://house.zhijia.com/xiangyunguoji-dongtai.html">{$title}动态</a>
					</h4>  <ul>{loop $new_lists $k $t}
                             <li>
              <a href="{$MODULE[8][linkurl]}{$t[linkurl]}"  target="_blank">{$t[title]}</a>
                                  <span>{date('Y-m-d', $t[addtime])}</span>
                                  <p>{dsubstr($t[introduce], 240, $suffix = '..')}<a href="{$MODULE[8][linkurl]}{$t[linkurl]}" title="点击查看详情" target="_blank" >[详情]</a></p>                                </li>{/loop}
                                                    </ul>
                    				</div>
                <div class="pagination">
                    <div class="pagination-inner">{$pages}</div>
                </div>
			</div>
			<div class="w280 fr">
					<div class="modAC" ></div>
				<div class="modB">
    <h4 class="modBT">
        <sub></sub>
        <a  href="{$MODULE[6][linkurl]}list.php" target="_blank" >{$city_name}最新楼盘</a>
        <a href="{$MODULE[6][linkurl]}list.php" class="more">更多&gt;&gt;</a>
    </h4>
    <ul class="t3List">
                            <!--{tag("moduleid=6&condition=status=3 and isnew=1&areaid=$cityid&pagesize=8&order=addtime desc&template=lp-right")}-->
                    </ul>
</div>
					<div class="modB">
    <h4 class="modBT">
        <sub></sub>
        <a href="{$MODULE[6][linkurl]}list.php" target="_blank" >{$city_name}热门楼盘</a>
        <a href="{$MODULE[6][linkurl]}list.php" class="more">更多&gt;&gt;</a>
    </h4>
    <ul class="t3List">
                    <!--{tag("moduleid=6&condition=status=3 and isnew=1&areaid=$cityid&pagesize=8&order=hits desc&template=lp-right")}-->
            </ul>
</div>
					<div class="modB">
    <h4><sub></sub>
        <a href="{$MODULE[1][linkurl]}/tool/" class="more">购房工具</a>
    </h4>
    <div class="Tools cf">
        <a href="{$MODULE[1][linkurl]}tool/benxi.php" class="fdjs" target="_blank">房贷计算</a>
        <a href="{$MODULE[1][linkurl]}tool/" class="mlpg" target="_blank">购房能力评估</a>
        <a href="{$MODULE[1][linkurl]}tool/gjj.php" class="gjjdk" target="_blank">公积金贷款</a>
        <a href="{$MODULE[1][linkurl]}tool/tqhd.php" class="tqhd" target="_blank">提前还款</a>
        <a href="{$MODULE[1][linkurl]}tool/sf.php" class="gfsf" target="_blank">购房税费</a>
        <a href="{$MODULE[1][linkurl]}list.php" class="lpsc" target="_blank">楼盘速查</a>
        <div class="clear"></div>
    </div>
</div>				</div>
			</div>
			{template 'footer'}	</div>
</body>
</html>