.validatorMsg {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 30px; PADDING-LEFT: 18px; PADDING-RIGHT: 7px; COLOR: #999; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.validatorMsg {
	LINE-HEIGHT: 18px; MARGIN: 0px 0px 0px 2px; COLOR: #777
}
.validatorInit {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 16px; PADDING-LEFT: 19px; PADDING-RIGHT: 0px; DISPLAY: inline-block; HEIGHT: 17px; PADDING-TOP: 4px
}
.validatorFocus {
	BORDER-BOTTOM: #c8d9fd 1px solid; BORDER-LEFT: #c8d9fd 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 16px; PADDING-LEFT: 20px; PADDING-RIGHT: 5px; DISPLAY: inline-block; BACKGROUND: url(../image/agent/explain.gif) #e9f0ff no-repeat 0px 3px; HEIGHT: 17px; BORDER-TOP: #c8d9fd 1px solid; BORDER-RIGHT: #c8d9fd 1px solid; PADDING-TOP: 4px
}
.validatorError {
	BORDER-BOTTOM: #e5c3c4 1px solid; BORDER-LEFT: #e5c3c4 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 16px; PADDING-LEFT: 19px; PADDING-RIGHT: 5px; DISPLAY: inline-block; BACKGROUND: url(../image/agent/inhibit.gif) #fff2e9 no-repeat 0px 3px; HEIGHT: 17px; BORDER-TOP: #e5c3c4 1px solid; BORDER-RIGHT: #e5c3c4 1px solid; PADDING-TOP: 4px
}
.validatorValid {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 20px; PADDING-LEFT: 19px; PADDING-RIGHT: 5px; DISPLAY: inline-block; BACKGROUND: url(../image/agent/valid.gif) no-repeat 0px 6px; HEIGHT: 17px; PADDING-TOP: 4px
}
.validatorLoad {
	BORDER-BOTTOM: #cdfcd1 1px solid; BORDER-LEFT: #cdfcd1 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 16px; PADDING-LEFT: 19px; PADDING-RIGHT: 5px; DISPLAY: inline-block; BACKGROUND: url(../image/agent/onLoad.gif) #e9ffeb no-repeat 0px 3px; HEIGHT: 17px; BORDER-TOP: #cdfcd1 1px solid; BORDER-RIGHT: #cdfcd1 1px solid; PADDING-TOP: 4px
}
