<table id="FyList" class="FyList">
{loop $tags $k $t}
<tr><td class="pic">
				<a href="{$t[linkurl]}" title="{$t[alt]}" target="_blank"><img src="{imgurl($t[thumb])}" width="80" height="80" alt="{$t[alt]}" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/></a>
				
			</td>
			<td class="infos">
				<h5>
					<a href="{$t[linkurl]}" title="{$t[alt]}" target="_blank">{$t[title]}</a>
														</h5>
				<p>
					<a href="{$MODULE[18][linkurl]}show.php?itemid={$t[houseid]}" target="_blank" >{$t[housename]}</a> [{area_pos($t[areaid], '')}]{$t[address]}					<br>
					户型：{if $t[room]}{$t[room]}室{/if}{if $t[hall]}{$t[hall]}厅{/if}{if $t[toilet]}{$t[toilet]}卫{/if}	&nbsp;楼层：{$t[floor1]}/{$t[floor2]}&nbsp;房龄：{$t[houseyear]}年					<br>
							
					<a href="{userurl($t[username], '')}"  target="_blank" title="{$t[truename]}">{$t[truename]}</a>					  
					{timetodate($t[edittime], $datetype)} 更新{if $t[username] && $AJ[im_web]}{im_web($t[username].'&mid='.$moduleid.'&itemid='.$t[itemid])}&nbsp;{/if}
			{if $t[qq] && $AJ[im_qq]}{im_qq($t[qq])}&nbsp;{/if}
			{if $t[ali] && $AJ[im_ali]}{im_ali($t[ali])}&nbsp;{/if}
			{if $t[msn] && $AJ[im_msn]}{im_msn($t[msn])}&nbsp;{/if}
			{if $t[skype] && $AJ[im_skype]}{im_skype($t[skype])}&nbsp;{/if}
				</p>
			</td>
			<td class="area">{$t[houseearm]}平米</td>
			<td class="price">
				<strong>{if $t[price]}{$t[price]}元/月{else}面议{/if}</strong>
				<input type="button" class="btn" data-val="{$t[itemid]}" data-url="{$t[linkurl]}" data-name="{dsubstr($t[title], 12, $suffix = '..')}" />
			</td>
			<td class=""> </td>
		</tr>
		{/loop}	
		</table>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}